@import "variables.styl"

.footer
  min-width 100%
  background-color #444
  color white
  .inner
    margin auto
    max-width $MaxContentWidth
    padding $ContentPadding
    display flex
    flex-direction row
    @media (max-width: $MaxContentWidth)
      flex-direction column
      text-align center
    .footer-item
      margin-left 15px
      @media (max-width: 640px)
        display block
        padding 10px 0
        margin 0
      .footer-link
        &a
          color white
        text-decoration underline
